<!DOCTYPE html>
<html>
<head><title>Upload Your Photos</title></head>
<body>
  <h1>Marley's Birthday 2025</h1>
  <h2>Upload your Photos!!</h2>
  <form method="post" enctype="multipart/form-data">
    <label>Password:</label><br>
    <input type="text" name="name" required><br><br>
    <label>Select photos:</label><br>
    <input type="password" name="password" required><br><br>
    <label>Your name:</label><br>
    <input type="file" name="photo" accept="image/*" multiple required><br><br>
    <button type="submit">Upload</button>
  </form>
</body>
</html>
